nemo-toolkit
torchaudio
pydub
numpy
soundfile
pyyaml
huggingface-hub
transformers
torch
lightning
lhotse
einops
sentencepiece
pandas
jiwer
librosa
webdataset
#pyannote.audio #test
pyannote-core
pyannote.metrics
datasets
editdistance
IPython
cuda-python
matplotlib
hydra-core
flask
omegaconf